.tabs-controls__item{
	list-style: none;
	display: inline-block;
	border: 1px solid #beceda;
	cursor: pointer;
}
.active{
	color: red;
}
.show{
	display: block!important;
}
.tabs-content__item{
	display: none;
}
.tabs-content{
	width: 300px;
	height: 140px;
	border:1px solid #beceda;
}

